*,
*::before,
*::after {
  /*universal selector*/
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-med {
  margin-bottom: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-xl {
  margin-top: 10rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-med {
  margin-top: 4rem !important;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /*to fix the shakiness after the animation ends.
    If we dont use this, we can see that the text box moves slightly up after the animation ends */
  margin: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

body {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.heading-secondary {
  font-weight: 700;
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(126, 213, 111, 0.801)), to(rgba(40, 180, 133, 0.801)));
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801));
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.heading-secondary:hover {
  -webkit-transform: skew(15deg, 2deg);
          transform: skew(15deg, 2deg);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.363);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/nat-4.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  margin-top: -10rem;
}

.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  padding: 30rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.75) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  height: 50rem;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.book-form {
  width: 50%;
  padding: 6rem;
}

.btn, .btn:link, .btn:visited {
  /*the visited link and the initial state of the link should be the same.
    hence we have choosen the link and the visited state of the link*/
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 100px;
  position: relative;
  z-index: 0;
  border: none;
  cursor: pointer;
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.btn:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  /*for the button to move uo, the value should be negative*/
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-white {
  background-color: white;
  color: #777;
  /*to the button that expands to infinity when we hover*/
}

.btn-white::after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  /*the reference here taken is the relative position of the button*/
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-green {
  background-color: rgba(85, 197, 122, 0.808);
  color: white;
}

.btn-green::after {
  background-color: rgba(85, 197, 122, 0.808);
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  /*the reference here taken is the relative position of the button*/
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-animated {
  -webkit-animation-name: moveUp;
          animation-name: moveUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: rgba(85, 197, 122, 0.808);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid rgba(85, 197, 122, 0.808);
  padding: 3px;
}

.btn-text:hover {
  background-color: rgba(85, 197, 122, 0.808);
  color: white;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 7px 5px rgba(0, 0, 0, 0.397);
          box-shadow: 0 7px 5px rgba(0, 0, 0, 0.397);
}

.btn-text:active {
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.397);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.397);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.composition {
  position: relative;
}

.composition-photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.466);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.466);
  position: absolute;
  z-index: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline-offset: 2rem;
}

.composition-photo-p1 {
  left: 0;
  top: -2rem;
}

.composition-photo-p2 {
  right: 0;
  top: 2rem;
}

.composition-photo-p3 {
  left: 20%;
  top: 10rem;
}

.composition-photo:hover {
  outline: 1.5rem solid #28b485;
  -webkit-transform: scale(1.05) translateY(-5px);
          transform: scale(1.05) translateY(-5px);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
  background-color: rgba(85, 197, 122, 0.808);
}

.composition:hover .composition-photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.feature-box-icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8)));
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

.feature-box:hover {
  -webkit-transform: scale(1.05) translateY(-2rem);
          transform: scale(1.05) translateY(-2rem);
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
}

.card {
  height: 52rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  position: relative;
}

.card-side {
  height: 52rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card-side-front {
  background-color: white;
  color: black;
}

.card-side-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-side-back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card-side-back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card-side-back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .card-side-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card-side-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card-picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: color;
}

.card-picture-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../img/nat-5.jpg);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card-picture-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485)), url(../img/nat-6.jpg);
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card-picture-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url(../img/nat-7.jpg);
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card-heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 12rem;
  right: 2rem;
  text-align: right;
  width: 75%;
}

.card-heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  -moz-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card-heading-span-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card-heading-span-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
}

.card-heading-span-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card-details {
  padding: 3rem;
}

.card-details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card-details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card-details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card-cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card-price-box {
  text-align: center;
  color: white;
  margin-bottom: 8rem;
}

.card-price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card-price-value {
  font-size: 6rem;
  font-weight: 100;
}

.story {
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
  background-color: rgba(255, 255, 255, 0.6);
}

.story-shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-3rem) skewX(12deg);
          transform: translateX(-3rem) skewX(12deg);
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story-img {
  height: 100%;
  -webkit-transform: translateX(-4rem) scale(1.2);
          transform: translateX(-4rem) scale(1.2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story-text {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.story-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story:hover .story-img {
  -webkit-filter: blur(3px) brightness(80%);
          filter: blur(3px) brightness(80%);
  -webkit-transform: translateX(-4rem) scale(1);
          transform: translateX(-4rem) scale(1);
}

.story:hover .story-caption {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.325;
  z-index: -100;
  overflow: hidden;
}

.bg-video-content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-group:not(:last-child) {
  margin-bottom: 2rem;
}

.form-input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  color: inherit;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form-input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #7ed56f;
}

.form-input:focus:invalid {
  border-bottom: 3px solid red;
}

.form-input::-webkit-input-placeholder {
  color: #999;
  font-size: 1.5rem;
}

.form-label {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

.form-radio-group {
  width: 49%;
  display: inline-block;
}

.form-radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.form-radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  display: inline-block;
  border-radius: 100px;
  position: absolute;
  left: 0;
  top: -0.4rem;
}

.form-radio-button::after {
  height: 1.3rem;
  width: 1.3rem;
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.form-radio-input:checked ~ .form-radio-label .form-radio-button::after {
  opacity: 1;
}

.form-radio-input {
  opacity: 0;
  content: hidden;
}

.popup {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup-content {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  z-index: 6000;
  border-radius: 3px;
  display: table;
  overflow: hidden;
}

.popup-left {
  width: 33.3333333%;
  display: table-cell;
}

.popup-right {
  width: 66.66666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
  position: relative;
}

.popup-img {
  display: block;
  width: 100%;
}

.popup-text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  -webkit-column-rule: 1px #eee;
          column-rule: 1px #eee;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.popup-close:link, .popup-close:visited {
  color: #777;
  position: absolute;
  top: 15%;
  right: 14%;
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 10000;
}

.popup-close:link:hover, .popup-close:visited:hover {
  color: red;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /*specify the co-ordinates of the box i.e the viewport, clockwise and x y*/
  position: relative;
}

.logo {
  height: 35px;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.text-box {
  position: absolute;
  left: 50%;
  /*50%- in relation to the parent element, i.e. the body*/
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* in relation with the text-box*/
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem)/2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem)/3);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem)/4);
}

.footer {
  background-color: #333;
  padding: 10rem;
  font-size: 1.4rem;
  color: #f7f7f7;
}

.footer-logo-box {
  text-align: center;
  margin-bottom: 8rem;
}

.footer-logo {
  width: 15rem;
  height: auto;
}

.footer-navigation {
  border-top: 1px solid #777;
  padding-top: 2rem;
  display: inline-block;
}

.footer-list {
  list-style: none;
}

.footer-item {
  display: inline-block;
}

.footer-item:not(:last-child) {
  margin-right: 1.5rem;
}

.footer-link:link, .footer-link:visited {
  color: #f7f7f7;
  background-color: #333;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer-link:active, .footer-link:hover {
  color: #55c57a;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(5deg) scale(1.3);
          transform: rotate(5deg) scale(1.3);
}

.footer-copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
  color: inherit;
  width: 80%;
  float: right;
}

.navigation-checkbox {
  opacity: 0;
  display: none;
}

.navigation-button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigation-background {
  position: fixed;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.navigation-list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.navigation-item {
  margin: 1rem;
}

.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 250%;
  -webkit-transition: all  0.5s;
  transition: all  0.5s;
}

.navigation-link:link span, .navigation-link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation-link:hover, .navigation-link:active {
  background-position: 100%;
  color: #55c57a;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  -webkit-box-shadow: 0 1rem 10rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 10rem rgba(0, 0, 0, 0.3);
}

.navigation-checkbox:checked ~ .navigation-background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
}

.navigation-icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation-icon, .navigation-icon::before, .navigation-icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigation-icon::before, .navigation-icon::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navigation-icon::before {
  top: -0.8rem;
}

.navigation-icon::after {
  top: 0.8rem;
}

.navigation-button:hover .navigation-icon::before {
  top: -1rem;
}

.navigation-button:hover .navigation-icon::after {
  top: 1rem;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=main.css.map */