$color-primary:  rgba(85, 197, 122, 0.808);
$color-primary-light:  rgba(126, 213, 111, 0.8);
$color-primary-dark: rgba(40, 180, 133, 0.8);
$color-primary-light-no-opacity: rgb(126,213,111);
$color-primary-no-opacity: rgb(85, 197, 122);
$color-primary-dark-no-opacity: rgb(40, 180, 133);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT
$default-font: 1.6rem;